# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VSCode
.vscode/

# Flutter/Dart/Pub 관련
.dart_tool/
.packages
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# --- iOS/Xcode 추가 무시 규칙 (ios/.gitignore에서 병합) ---
**/dgph
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/.symlinks/
profile
xcuserdata
**/.generated/
Flutter/App.framework
Flutter/ephemeral/
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*

# 예외 규칙
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
Podfile
